server:
  port: 

spring:
  datasource:
    url: jdbc:postgresql://:/
    username: 
    password: 
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        multiTenancy: SCHEMA
        multi_tenant_connection_provider: com.inclusive.authservice.config.SchemaMultiTenantConnectionProvider
        tenant_identifier_resolver: com.inclusive.authservice.config.CurrentTenantIdentifierResolverImpl
        default_schema: public

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 1
    locations: classpath:db/migration
    schemas: public

springdoc:
  swagger-ui:
    path: /swagger-ui.html

jwt:
  secret: 
  expiration: 86400000  # 24 horas

cors:
  allowed-origins: 
  allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
  allowed-headers: "*"
