server:
  port: 8080
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:postgresql://<PROD_HOST>:5432/authdb
    username: <PROD_USER>
    password: <PROD_PASSWORD>

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html

spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: <PROD_EMAIL>
    password: <PROD_APP_PASSWORD>
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

twilio:
  account-sid: <PROD_SID>
  auth-token: <PROD_TOKEN>
  from-number: "+1234567890"

